@font-face {
  font-family: "ColfaxAI";
  src: url(https://cdn.openai.com/API/fonts/ColfaxAIRegular.woff2)
      format("woff2"),
    url(https://cdn.openai.com/API/fonts/ColfaxAIRegular.woff) format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "ColfaxAI";
  src: url(https://cdn.openai.com/API/fonts/ColfaxAIBold.woff2) format("woff2"),
    url(https://cdn.openai.com/API/fonts/ColfaxAIBold.woff) format("woff");
  font-weight: bold;
  font-style: normal;
}
body,
input {
  font-size: 16px;
  line-height: 24px;
  color: #353740;
  font-family: "ColfaxAI", Helvetica, sans-serif;
}
input[type="text"] {
  padding: 12px 16px;
  border: 1px solid #10a37f;
  border-radius: 4px;
  margin-bottom: 24px;
}
::placeholder {
  color: #8e8ea0;
  opacity: 1;
}
input[type="submit"] {
  padding: 12px 0;
  color: #fff;
  background-color: #10a37f;
  border: none;
  border-radius: 4px;
  text-align: center;
  cursor: pointer;
}
.history {
    width: 300px;
    font-size: 14px;
    line-height: 16px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

        .box {
            width: min(75%, 1000px);
            height: 100vh;
            margin-top: 85px;
        }

        .bottom {
            position: fixed;
            bottom: 0;
            padding-bottom: 10px;
            background-color: white;
            width: min(95%, 800px);
        }

        .message {
            margin: 20px;
        }

        .usermessagediv {
            display: flex;
            justify-content: flex-end;
            flex-wrap: wrap;
            margin-left: 20%;
        }

        .usermessage {
            background-color: #097df1;
            color: #fff;
            padding: 0.5rem .875rem;
            border-radius: 20px;
        }

        .appmessagediv {
            display: flex;
            justify-content: flex-start;
            flex-wrap: wrap;
            margin-right: 20%;
        }

        .appmessage {
            background-color: #e5e5ea;
            color: #000;
            padding: 0.5rem .875rem;
            border-radius: 20px;
        }

        .upper {
            max-height: 100%;
            padding-top: 40px;
            padding-bottom: 300px;
            overflow: auto;
        }

        .upper::-webkit-scrollbar {
            width: 0 !important
        }

        #sendbtn:disabled {
            opacity: 0.6;
        }

        .downwarning {
            display: flex;
            justify-content: center;
            margin-top: 5px;
            font-size: 90%;
            color: gray;
        }

        nav {
            position: fixed;
            width: 100%;
            padding: 3px;
            box-shadow: 1px 1px 5px #80808057;
        }

	.w200px {
	    width: 200px;
	}

.vote-icons {
    cursor: pointer;
    margin: 0 5px;
}
