<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Arachne</title>
  <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
  <script src="{{ url_for('static', filename='audio.js') }}"></script>
</head>

<body>

  <div class="p-3" style="border: 1px solid gray; height: 300px; border-radius: 8px;">
    <span id="final" class="text-light"></span>
    <span id="interim" class="text-secondary" style="color: #999;"></span>
  </div>

  <div id="upperid">
  </div>
  <form id="input-form" method="POST">
    <input type="hidden" name="log_filename" value="{{ log_filename }}" />
    <textarea id="input_text" rows="1"></textarea>
    <button type="submit">Go.</button>
  </form>
  <p id="status" class="lead mt-3 text-light">Loading...</p>
</body>
</html>
